@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.firstPage {
  width: 100%;
  // height: 1000px;
  padding: 130px 70px;
  object-fit: cover;
  overflow: hidden;

  p {
    font-size: 70px;
    font-weight: 900;

    &:hover {
      color: $orangeColor;
      opacity: 0.8;
    }
  }

  .alignSlogan {
    line-height: 120px;
  }
}

.content {
  .imgBox {
    margin: 0 auto;
    overflow: hidden;

    .contentImg {
      width: 100%;
    }
  }

  .textBox {
    height: 350px;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    text-align: center;

    .title {
      margin-top: 60px;
      font-size: 60px;
      font-weight: 900;
    }

    .text {
      font-size: 24px;
      line-height: 98px;
    }

    button {
      width: 200px;
      @include btnStyle;

      &:hover {
        opacity: 1;
      }
    }
  }

  // Mobile Styles
  @media (max-width: 768px) {
    padding: 50px;

    .imgBox {
      margin: 0; // Remove auto margin for mobile
    }

    .textBox {
      height: auto;
      margin-top: 30px;

      .title {
        margin-top: 30px;
        font-size: 40px;
      }

      .text {
        font-size: 18px;
        line-height: 32px;
      }

      button {
        width: 150px;
        margin-top: 20px;
      }
    }
  }
}
